/* navbar */

.topBar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 6px 90px;
    background: #222;
}

.notice {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.notice i {
    color: yellow
}

.notice p {
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

nav {
    background: #000;
}
.navbar-brand{
    font-family: "Pacifico", cursive;
    /* font-family: cursive; */
    /* cursor: pointer; */
    font-size: 30px;
    margin: 0;
    font-weight: 700;
    color: #fff;
}

.navigation {

    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.nav-link {

    color: #fff
}

.nav-link:hover {

    color: #ffb03b
}

/* section1 */

.section1{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fffaf3;
    padding: 50px 40px;
    gap: 20px;
    margin-top: 50px;
    
}
.Voluptatem{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 25px;
}
.Voluptatem h3{
    color: #433f39;
    font-family: cursive;  
}
.ipsum{
    padding-right: 200px;
    font-style: italic !important;
}
.starte li{
    display: flex;
    gap: 40px;
    list-style: none;
    padding-right: 150px;
    
}

/* section2 */

.chose{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 70px;
    gap: 30px;
}
.chose h2{
    background-color:rgb(252, 217, 190);
    color: #ffb03b;
    padding: 10px 10px;
    border-radius: 50px;
    text-transform: uppercase;
}
.Restaurant{
    display: flex;
    align-items: center;
    gap: 10px;
    font-family: "Pacifico", cursive;
    font-weight: 700;
    font-size: 40px;
}
.Our{
    color: #ffb03b;
}
.Ulamco{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 50px 40px;
}
.spoonxe{
    display: flex;
    gap: 10px;
}
.spouila{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #dbdfe3;
    width: 450px;
    height: 200px;
    padding-left: 20px;
    gap: 20px;
}
.spouila:hover{
    background-color: #ffae35;
    
}
.spouila span{ 
    color: #ffb03b;
    font-weight: 700;
    font-size: 20px;
}
.spouila:hover span{
    color: white;
}
.spouila h4{
    color: #433f39;
    font-style: italic !important;
}
.spouila:hover h4{
    color: white;
}
.spouila p{
    font-weight: 5px;
    color: #a6a9ad;
}
.spouila:hover p{
    color: white;
}

/* section3 */

.All{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    padding-top: 40px;
}
.hoerd{
    color: #ffae35;
}
.All ul{
    display: flex;
    gap: 30px;
    list-style: none;
    font-family: "Pacifico", cursive;
    font-size: 15px;
    color: #444444;
}

.All li:hover {
    color: #ffae35;
}

/* section4 */

.praesentium{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
    padding-top: 30px;
}
.Modi ul{
    display: flex;
    flex-direction: column;
    gap: 20px;
    list-style: none;
    font-weight: bold;
}
.siter{
    color: #ffae35;
    font-weight: bold;
}
.Modi  ul li:hover{
    color: #ffae35;
}
.aperiam{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.aperiam h3{
    font-family: "Pacifico", cursive;
    color: #444444;
}
.aperiam span{
    font-style: italic !important;
    color: #444444;
}

/* section5 */

/* section6 */
.container{
    display: flex;
    align-items: center;
    padding: 15px;
    
}
.contro{
    display: flex;
    justify-content: center;
    gap: 10px;
    background-color: #dee2e7;
    
}
.contactr{
    display: flex;
    flex-direction: column;
    padding: 20px 20px;
    gap: 20px;
    
}
.messgre{
    padding: 20px;
    width: 50vw;
}
/* .messgre:active{
    border: #ffae35;
} */
.boutton{
    background-color: #ffae35;
    padding: 10px 20px;
    color: white;
    border: none;
    border-radius: 10px;
}
.golourt{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    background-color: #dee2e7;
    padding-bottom: 43px;
}

/* sectione7 */
.imagess{
    display: flex;
    align-items: center;
    flex-direction: column;
    
    gap: 2px;
    width: 350px;
    
}
/* .inmge{
    display: flex;
    align-items: center;
    justify-content: center;
    
    gap: 3px;
} */








@media (max-width:767px) {

    .notice p {

        display: none;
    }
    .navbar-nav {

        background: #fff;
        padding: 0 20px;
    }
    .nav-link{

        color: #333;
    }
}
.image{
    display: flex;
    flex-wrap: wrap;
    gap: 3px;
    padding:15px;
}
.image img{
    width: 22%;
}